<!DOCTYPE html>
<div class="content-container card well" ng-controller="EditClientController">
        <ul class="breadcrumb">
            <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
            <li><a href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
            <li class="active">{{'label.anchor.editclient' | translate}}</li>
        </ul>
   <wizard current-step="step" class="">
    <wz-step icon="fa fa-circle-o" wz-title="{{'label.heading.editclient' | translate}}" wz-order="1">
        <div class="card-content">
			<form name="editclientform" novalidate="" class="content-container form-horizontal" ng-submit="submit()">
			    <api-validate></api-validate>
				    <fieldset>

				        <div class="form-group">
				            <label class="control-label col-sm-2">{{ 'label.heading.office' | translate }}:<span
				                    class="required">*</span></label>
				
				            <div class="col-sm-3">
				                <select chosen="offices" id="officeId" ng-model="officeId"  class="form-control"
				                        ng-options="office.id as office.name for office in offices" value="{{office.id}}"
				                        disabled="disabled">
				                </select>
				            </div>

							<label class="control-label col-sm-2">{{ 'label.heading.staff' | translate }}:</label>

							<div class="col-sm-3">
								<select chosen="staffs" id="staffId" ng-model="formData.client.staffId"  class="form-control"
										ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}">
									<option value="">{{'label.menu.selectloanofficer' | translate}}</option>
								</select>
							</div>
				        </div>

						<div class="form-group">
							<label class="control-label col-sm-2">{{'label.input.legalForm' | translate}}</label>

							<div class="col-sm-3">
								<select id="legalFormId" ng-model="formData.client.legalFormId"  class="form-control"
										ng-options="legalForm.id as legalForm.value for legalForm in clientLegalFormOptions" value="{{legalForm.id}}"
										ng-change="displayPersonOrNonPersonOptions(formData.client.legalFormId)">
									<option value="">--{{'label.menu.legalForm' | translate}}--</option>
								</select>
							</div>
						</div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="false">
								<div class="form-group">
									<label class="control-label col-sm-2">{{ 'label.input.firstname' | translate }}:<span
											class="required">*</span></label>

									<div class="col-sm-3">
										<input type="text" id="firstname" name="firstname" ng-model="formData.client.firstname"  class="form-control" required
											   late-Validate/>
									</div>
									<div class="col-sm-3">
										<form-validate valattributeform="editclientform" valattribute="firstname"/>
									</div>
								</div>
							</div>
				        </div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="false">
								<div class="form-group">
									<label class="control-label col-sm-2">{{ 'label.input.middlename' | translate }}:</label>

									<div class="col-sm-3">
										<input id="middlename" type="text" ng-model="formData.client.middlename" class="form-control">
									</div>
									<label class="control-label col-sm-2" for="isStaff">{{ 'label.input.isStaff' | translate }}</label>
									<div class="col-sm-3">
										<label class="checkbox">
											<input type="checkbox" id="isStaff" ng-model="formData.client.isStaff">
										</label>
									</div>
								</div>
							</div>
				        </div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="false">
								<div class="form-group">
									<label class="control-label col-sm-2">{{ 'label.input.lastname' | translate }}:<span
											class="required">*</span></label>

									<div class="col-sm-3">
										<input type="text" id="lastname" name="lastname" ng-model="formData.client.lastname"  class="form-control" required
											   late-Validate/>
									</div>
									<div class="col-sm-3">
										<form-validate valattributeform="editclientform" valattribute="lastname"/>
									</div>
								</div>
							</div>
				        </div>
						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="true">
								<div class="form-group">
									<label class="control-label col-sm-2">{{'label.input.fullname' | translate}}<span
											class="required">*</span></label>

									<div class="col-sm-3">
										<input type="text" id="fullname" name="fullname" ng-model="formData.client.fullname" class="form-control"
											   required late-Validate/>
									</div>
									<div class="col-sm-3">
										<form-validate valattributeform="editclientform" valattribute="fullname"/>
									</div>
								</div>
							</div>
						</div>
				        <div class="form-group">
				            <label class="control-label col-sm-2">{{ 'label.input.accno' | translate }}:</label>
				
				            <div class="col-sm-3">
				                <input id="accountNo" type="text" ng-model="formData.client.accountNo" class="form-control" disabled="disabled">
				            </div>
				        </div>
						<div class="form-group">
						    <label class="control-label col-sm-2">{{ 'label.input.externalid' | translate }}:</label>
						
						    <div class="col-sm-3">
						        <input id="externalId" type="text" ng-model="formData.client.externalId" class="form-control">
						    </div>
						</div>
				        <div class="form-group">
				            <label class="control-label col-sm-2" for="mobileNo">{{'label.input.mobilenumber' | translate}}</label>
				
				            <div class="col-sm-3">
				                <input id="mobileNo" name="mobileNo" ng-model="formData.client.mobileNo" ng-pattern="/^[0-9]+$/" class="form-control"/>
				            </div>
				            <div class="col-sm-2">
				                    <span ng-show="editclientform.mobileNo.$invalid && editclientform.mobileNo.$dirty">
				                      <small class="required" ng-show="editclientform.mobileNo.$error.pattern">
				                          {{'label.mustbenumeric' | translate}}
				                      </small>
				                    </span>
				            </div>
				        </div>
						<div class="form-group">
							<label class="control-label col-sm-2" ng-hide="showNonPersonOptions">{{'label.input.dateofbirth' | translate}}</label>
							<label class="control-label col-sm-2" ng-show="showNonPersonOptions">{{'label.input.incorporationdate' | translate}}</label>
						
						    <div class="col-sm-3">
						        <input id="dateofbirth" type="text" name="dateofbirth" datepicker-pop="dd MMMM yyyy"
						               ng-model="date.dateOfBirth" is-open="opened1" min="minDate" max="restrictDate"  class="form-control"/>
						    </div>

							<div data-ng-switch on="showNonPersonOptions">
								<div data-ng-switch-when="false">
									<label class="control-label col-sm-2">{{'label.input.gender' | translate}}</label>

									<div class="col-sm-3">
										<select id="genderId" ng-model="formData.client.genderId"  class="form-control"
												ng-options="gender.id as gender.name for gender in genderOptions" value="{{gender.id}}">
											<option value="">--{{'label.menu.gender' | translate}}--</option>
										</select>
									</div>
								</div>
							</div>

							<div data-ng-switch on="showNonPersonOptions">
								<div data-ng-switch-when="true">
									<label class="control-label col-sm-2">{{'label.input.incorpValidityTillDate' | translate}}</label>

									<div class="col-sm-3">
										<input id="incorpValidityTillDate" type="text" name="incorpValidityTillDate" datepicker-pop="dd MMMM yyyy"
											   ng-model="date.incorpValidityTillDate" is-open="opened1" max="'2020-06-22'"  class="form-control"/>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2">{{'label.input.clienttype' | translate}}</label>

							<div class="col-sm-3">
								<select id="clientTypeId" ng-model="formData.client.clientTypeId"  class="form-control"
										ng-options="clienttype.id as clienttype.name for clienttype in clienttypeOptions" value="{{clienttype.id}}">
									<option value="">--{{'label.menu.clienttype' | translate}}--</option>
								</select>
							</div>
							<label class="control-label col-sm-2">{{'label.input.clientclassification' | translate}}</label>

							<div class="col-sm-3">
								<select id="clientClassificationId" ng-model="formData.client.clientClassificationId"  class="form-control"
										ng-options="clientClassification.id as clientClassification.name for clientClassification in clientClassificationOptions" value="{{clientClassification.id}}">
									<option value="">--{{'label.menu.clientclassification' | translate}}--</option>
								</select>
							</div>
						</div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="true">
								<div class="form-group">
									<label class="control-label col-sm-2" for="incorpNumber">{{'label.input.incorpNumber' | translate}}</label>

									<div class="col-sm-3">
										<input type="text" id="incorpNumber" ng-model="formData.client.clientNonPersonDetails.incorpNumber"  class="form-control"/>
									</div>

									<label class="control-label col-sm-2">{{'label.input.mainBusinessLine' | translate}}</label>

									<div class="col-sm-3">
										<select id="mainBusinessLineId" ng-model="formData.client.clientNonPersonDetails.mainBusinessLineId"  class="form-control"
												ng-options="mainBusinessLine.id as mainBusinessLine.name for mainBusinessLine in clientNonPersonMainBusinessLineOptions" value="{{mainBusinessLine.id}}">
											<option value="">--{{'label.menu.mainBusinessLine' | translate}}--</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="true">
								<div class="form-group">
									<label class="control-label col-sm-2">{{'label.input.constitution' | translate}}<span
											class="required"></span></label>

									<div class="col-sm-3">
										<select id="constitutionId" name="constitution" ng-model="formData.client.clientNonPersonDetails.constitutionId"  class="form-control"
												ng-options="constitution.id as constitution.name for constitution in clientNonPersonConstitutionOptions"
												value="{{constitution.id}}">
											<option value="">--{{'label.menu.constitution' | translate}}--</option>
										</select>
									</div>
									<div class="col-sm-2">
									</div>
								</div>
							</div>
						</div>

						<div data-ng-switch on="showNonPersonOptions">
							<div data-ng-switch-when="true">
								<div class="form-group">
									<label class="control-label col-sm-2" for="remarks">{{'label.input.remarks' | translate}}</label>

									<div class="col-sm-3">
										<textarea type="text" id="remarks" ng-model="formData.client.clientNonPersonDetails.remarks" rows="4" class="form-control"/>
									</div>
								</div>
							</div>
						</div>

			            <div class="form-group">
			                <label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}:</label>

			                <div class="col-sm-3">
			                    <input id="submittedOnDate" type="text" name="submittedOnDate" datepicker-pop="dd MMMM yyyy"
			                           ng-model="date.submittedOnDate" is-open="opened1" max="restrictDate"  class="form-control"/>
			                </div>
			            </div>

				        <div data-ng-switch on="choice">
				            <div class="form-group" data-ng-switch-when="1">
				                <label class="control-label col-sm-2">{{'label.input.activationdate' | translate}}:<span
				                        class="required">*</span></label>
				
				                <div class="col-sm-3">
				                    <input id="activationDate" type="text" datepicker-pop="dd MMMM yyyy"
				                           ng-model="date.activationDate" is-open="opened" min="'2000-01-01'"
				                           max="restrictDate"  class="form-control"/>
				                </div>

				            </div>
				        </div>
				        <div class="pull-right">
			                 <button id="save3"  class="btn btn-primary" wz-next>
			                 {{'label.button.proceed' | translate}}
			                 </button>
				        </div>
				
				    </fieldset>
			</form>
		</div>
	</wz-step>
    <wz-step icon="fa fa-circle-o" wz-title="{{'label.heading.additionalclientinformation' | translate}}" wz-order="3">
        <div class="card-content">
            <form name="createclientform" class="form-horizontal" ng-submit="submit()">
               <api-validate></api-validate>
               <fieldset>
                  
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="nationality">{{'label.input.nationality' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="nationality" name="nationality" ng-model="formData.kyc.nationality" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="noOfDependents">{{'label.input.noofdependents' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="noOfDependents" name="noOfDependents" ng-model="formData.kyc.noOfDependents"
                           ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.maritalstatus' | translate}}</label>
                     <div class="col-sm-3">
                        <select id="maritalStatusId" ng-model="formData.kyc.maritalStatusId"  class="form-control"
                           ng-options="maritalStatus.id as maritalStatus.name for maritalStatus in clientMaritalStatusOptions" value="{{maritalStatus.id}}">
                           <option value="">--{{'label.menu.maritalstatus' | translate}}--</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.educationalattainment' | translate}}</label>
                     <div class="col-sm-3">
                        <select id="educationalAttainmentId" ng-model="formData.kyc.educationalAttainmentId"  class="form-control"
                           ng-options="educationalAttainment.id as educationalAttainment.name for educationalAttainment in clientEducationalAttainmentOptions" value="{{educationalAttainment.id}}"
                           ng-change="checkDropdown(formData.kyc.educationalAttainmentId, false)">
                           <option value="">--{{'label.menu.educationalattainment' | translate}}--</option>
                        </select>
                     </div>
                     <div ng-show="allowOtherEducationalAttainment">
                        <label class="control-label col-sm-2" for="othersEducationalAttainment">{{'label.input.othereducationalattainment' | translate}}<!-- <span
                           class="required">*</span> --></label>
                        <div class="col-sm-3">
                           <input type="text" id="othersEducationalAttainment" name="othersEducationalAttainment" ng-model="formData.kyc.othersEducationalAttainment" class="form-control"
                             ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="schoolLastAttended">{{'label.input.schoollastattended' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="schoolLastAttended" name="schoolLastAttended" ng-model="formData.kyc.schoolLastAttended" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="placeOfBirth">{{'label.input.placeofbirth' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="placeOfBirth" name="placeOfBirth" ng-model="formData.kyc.placeOfBirth" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="motherMaidenName">{{'label.input.mothermaidenname' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="motherMaidenName" name="motherMaidenName" ng-model="formData.kyc.motherMaidenName" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.residenceownership' | translate}}</label>
                     <div class="col-sm-3">
                        <select id="residenceOwnershipId" ng-model="formData.kyc.residenceOwnershipId"  class="form-control"
                           ng-options="residenceOwnership.id as residenceOwnership.name for residenceOwnership in clientResidenceOwnershipOptions" value="{{residenceOwnership.id}}" ng-change="checkDropdown(formData.kyc.residenceOwnershipId, false)">
                           <option value="">--{{'label.menu.residenceownership' | translate}}--</option>
                        </select>
                     </div>
                     <div ng-show="allowMonthlyRent">
                        <label class="control-label col-sm-2" for="rentedResidenceOwnership">{{'label.input.monthlyrent' | translate}}<!-- <span
                           class="required">*</span> --></label>
                        <div class="col-sm-3">
                           <input type="text" id="rentedResidenceOwnership" name="rentedResidenceOwnership" ng-model="formData.kyc.rentedResidenceOwnership"
                              ng-pattern="/^[0-9]+$/"  class="form-control"/>
                        </div>
                     </div>
                  </div>

                  <div class="pull-right">
                     <button id="save3"  class="btn btn-primary" wz-next>
                     {{'label.button.proceed' | translate}}
                     </button>
                  </div>
               </fieldset>
            </form>
        </div>
    </wz-step>
    <wz-step icon="fa fa-circle-o" wz-title="{{'label.heading.clientemploymentinformation' | translate}}" wz-order="4">
        <div class="card-content">
            <form name="createclientform" class="form-horizontal" ng-submit="submit()">
               <api-validate></api-validate>
               <fieldset>

                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.employment' | translate}}</label>
                     <div class="col-sm-3">
                        <select id="employmentId" ng-model="formData.kyc.employmentId"  class="form-control"
                           ng-options="employment.id as employment.name for employment in clientEmploymentOptions" value="{{employment.id}}" ng-change="checkDropdown(formData.kyc.employmentId, false)">
                           <option value="">--{{'label.menu.employment' | translate}}--</option>
                        </select>
                     </div>
                     <div ng-show="allowOtherEmployment">
                        <label class="control-label col-sm-2" for="otherEmployment">{{'label.input.otheremployment' | translate}}</label>
                        <div class="col-sm-3">
                           <input type="text" id="otherEmployment" name="otherEmployment" ng-model="formData.kyc.otherEmployment" class="form-control"
                             ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                        </div>
                     </div>
                  </div>
                  <div class="form-group" ng-show="allowSelfEmployed">
                     <label class="control-label col-sm-2">{{'label.input.selfemployed' | translate}}</label>
                     <div class="col-sm-3">
                        <select id="selfEmployedId" ng-model="formData.kyc.selfEmployedId"  class="form-control"
                           ng-options="selfEmployed.id as selfEmployed.name for selfEmployed in clientSelfEmployedOptions" value="{{selfEmployed.id}}">
                           <option value="">--{{'label.menu.selfemployed' | translate}}--</option>
                        </select>
                     </div>
                     <label class="control-label col-sm-2" for="yearsInOperation">{{'label.input.yearsinoperation' | translate}}</label>
                     <div class="col-sm-1">
                        <input type="text" id="yearsInOperation" name="yearsInOperation" ng-model="formData.kyc.yearsInOperation"
                           ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                     <label class="control-label col-sm-2" for="noOfEmployees">{{'label.input.numberofemployees' | translate}}</label>
                     <div class="col-sm-1">
                        <input type="text" id="noOfEmployees" name="noOfEmployees" ng-model="formData.kyc.noOfEmployees"
                           ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.nameofemployer' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="nameOfPresentEmployerBusiness" name="nameOfPresentEmployerBusiness" ng-model="formData.kyc.nameOfPresentEmployerBusiness" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                     <label class="control-label col-sm-2" for="natureOfBusiness">{{'label.input.natureofbusiness' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="natureOfBusiness" name="natureOfBusiness" ng-model="formData.kyc.natureOfBusiness" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="officeAddress">{{'label.input.officeaddress' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-8">
                        <input type="text" id="officeAddress" name="officeAddress" ng-model="formData.kyc.officeAddress" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.officephone' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="officePhone" name="officePhone" ng-model="formData.kyc.officePhone"
                           ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                     <label class="control-label col-sm-2" for="officeMobilePhone">{{'label.input.mobilenumber' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="officeMobilePhone" name="officeMobilePhone" ng-model="formData.kyc.officeMobilePhone"
                           ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.localnumber' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="officeLocalNumber" name="officeLocalNumber" ng-model="formData.kyc.officeLocalNumber"
                           ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                     <label class="control-label col-sm-2" for="officeFaxNumber">{{'label.input.faxnumber' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="officeFaxNumber" name="officeFaxNumber" ng-model="formData.kyc.officeFaxNumber"
                           ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="officeEmailAddress">{{'label.input.emailaddress' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="officeEmailAddress" name="officeEmailAddress" ng-model="formData.kyc.officeEmailAddress" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.rank' | translate}}</label>
                     <div class="col-sm-3">
                        <select id="rankId" ng-model="formData.kyc.rankId"  class="form-control"
                           ng-options="rank.id as rank.name for rank in clientRankOptions" value="{{rank.id}}">
                           <option value="">--{{'label.menu.rank' | translate}}--</option>
                        </select>
                     </div>
                     <label class="control-label col-sm-2" for="titleOrPosition">{{'label.input.titleorposition' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="titleOrPosition" name="titleOrPosition" ng-model="formData.kyc.titleOrPosition" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.grossannualincome' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="grossAnnualIncome" name="grossAnnualIncome" ng-model="formData.kyc.grossAnnualIncome" ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                     <label class="control-label col-sm-2" for="otherIncome">{{'label.input.otherincome' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="otherIncome" name="otherIncome" ng-model="formData.kyc.otherIncome" ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="nameOfPreviousEmployer">{{'label.input.nameofpreviousemployer' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="nameOfPreviousEmployer" name="nameOfPreviousEmployer" ng-model="formData.kyc.nameOfPreviousEmployer" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="officeAddressPrevious">{{'label.input.officeaddressofpreviousemployer' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-8">
                        <input type="text" id="officeAddressPrevious" name="officeAddressPrevious" ng-model="formData.kyc.officeAddressPrevious" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.yearswithpresentemployer' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="yearsWithPresentEmployer" name="yearsWithPresentEmployer" ng-model="formData.kyc.yearsWithPresentEmployer" ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                     <label class="control-label col-sm-2" for="yearsWithPreviousEmployer">{{'label.input.yearswithpreviousemployer' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="yearsWithPreviousEmployer" name="yearsWithPreviousEmployer" ng-model="formData.kyc.yearsWithPreviousEmployer" ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                  </div>
                  <div class="pull-right">
                     <button id="save8"  class="btn btn-primary" wz-next>
                     {{'label.button.proceed' | translate}}
                     </button>
                  </div>
               </fieldset>
            </form>
        </div>
    </wz-step>
    <wz-step icon="fa fa-circle-o" wz-title="{{'label.heading.personalreference' | translate}}" wz-order="5">
        <div class="card-content">
            <form name="createclientform" class="form-horizontal" ng-submit="submit()">
               <api-validate></api-validate>
               <fieldset>
                  
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="nameReference">{{'label.input.name' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="nameReference" name="nameReference" ng-model="formData.kyc.nameReference" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="relationshipReference">{{'label.input.relationship' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="relationshipReference" name="relationshipReference" ng-model="formData.kyc.relationshipReference" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="employerReference">{{'label.input.nameofemployerref' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-3">
                        <input type="text" id="employerReference" name="employerReference" ng-model="formData.kyc.employerReference" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2" for="addressReference">{{'label.input.address' | translate}}<!-- <span
                        class="required">*</span> --></label>
                     <div class="col-sm-8">
                        <input type="text" id="addressReference" name="addressReference" ng-model="formData.kyc.addressReference" class="form-control"
                          ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.contactnumber' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="contactNumberReference" name="contactNumberReference" ng-model="formData.kyc.contactNumberReference" ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                     <label class="control-label col-sm-2" for="mobileReference">{{'label.input.mobilenumber' | translate}}</label>
                     <div class="col-sm-3">
                        <input type="text" id="mobileReference" name="mobileReference" ng-model="formData.kyc.mobileReference" ng-pattern="/^[0-9]+$/"  class="form-control"/>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-sm-2">{{'label.input.relatedtoofficer' | translate}}</label>
                     <div class="col-sm-3">
                        <select id="relatedToOfficerId" ng-model="formData.kyc.relatedToOfficerId"  class="form-control"
                           ng-options="relatedToOfficer.id as relatedToOfficer.name for relatedToOfficer in clientRelatedToOfficerOptions" value="{{relatedToOfficer.id}}" ng-change="checkDropdown(formData.kyc.relatedToOfficerId, false)">
                           <option value=""></option>
                        </select>
                     </div>
                  </div>
                  <div ng-show="allowRelatedToOfficer">
                     <div class="form-group">
                        <label class="control-label col-sm-2" for="nameOfOfficer">{{'label.input.nameofofficer' | translate}}<!-- <span
                           class="required">*</span> --></label>
                        <div class="col-sm-3">
                           <input type="text" id="nameOfOfficer" name="nameOfOfficer" ng-model="formData.kyc.nameOfOfficer" class="form-control"
                             ng-pattern="/(^[A-z])[A-z.'-]*/"/>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-2" for="contactNumberOfficer">{{'label.input.contactnumberofofficer' | translate}}</label>
                        <div class="col-sm-3">
                           <input type="text" id="contactNumberOfficer" name="contactNumberOfficer" ng-model="formData.kyc.contactNumberOfficer"
                              ng-pattern="/^[0-9]+$/"  class="form-control"/>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.input.relationshipofofficer' | translate}}</label>
                        <div class="col-sm-3">
                           <select id="relationshipOfOfficerId" ng-model="formData.kyc.relationshipOfOfficerId"  class="form-control"
                              ng-options="relationshipOfOfficer.id as relationshipOfOfficer.name for relationshipOfOfficer in clientRelationshipOfOfficerOptions" value="{{relationshipOfOfficer.id}}">
                              <option value="">--{{'label.menu.relationshipofofficer' | translate}}--</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  
                  <div class="pull-right">
			            <a id="cancel" href="#/viewclient/{{clientId}}">
			                <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
			            </a>
			            <button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_CLIENT'>{{'label.button.save' | translate}}</button>
                  </div>
               </fieldset>
            </form>
        </div>
    </wz-step>
</wizard>
</div>
